* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.element {
     width: 30%;
     margin: 0 10px;
}
.today {
    width: 240px;
    margin: auto;
    text-align: left;
}
.date-box {
    width: 280px;
    height: 300px;
    background-color: white;
    
    border-radius: 20px;
}
.month,.day {
    text-align: center;
}
.month {
    margin-top: 20px;
    font-size: 60px;
}
.day {
    font-size: 120px;
}
.dashboard-content {
    display: flex;
    margin-top: 30px;
}
.task-today {
    width: 320px;
    margin: auto;
    text-align: left;
}
.tasks {
    background-color: white;
    height: 100px;
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;
}
.tasktitle {
    padding: 0 20px;
}
.taskdescription {
    padding: 0px 10px;
    width: 100%;
}
.pin-task { 
    width: 320px;
    margin: auto;
    text-align: left;}
.menu_task {
    display: flex;
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px white;
    border-radius: 10px;
}
.menu_task ul {
    list-style: none;
    margin: 0px 20px;
}
.menu_task ul li{
    color: black;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
}