* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}

.main-content {
    height: 100vh;
    background-image: url("https://www.meistertask.com/images/wallpapers/242659165.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    float: right;
    width: 85%;
    height: 100vh;
    overflow: auto;
}
